// SCSS Variables for Home Page and potentially other components

// Define new colors based on the image for the home page


$hero-bg: #0B0B38;

$primary-bg: #3F51B5;
$primary-bg-hover: #304FFE;

$text-light: #FFFFFF;
$text-dark: #333333;
$text-secondary: #757575;
$green-accent: #4CAF50;
$search-bg: #f0f0f0;
$nav-link-color: #4A4A4A;

$color_1: #0D1B2A;
$color_2: #00B383;
$color_3: #1FC2A0;
$color_4: #F0F4F8 ;
$color_5: #AAB6C2;


